<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycmm.business.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.ycmm.model.Stock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="breed_id" jdbcType="INTEGER" property="breedId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="depot_id" jdbcType="INTEGER" property="depotId" />
    <result column="stockInItem_id" jdbcType="INTEGER" property="stockinitemId" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="usable_num" jdbcType="DECIMAL" property="usableNum" />
    <result column="freeze_num" jdbcType="DECIMAL" property="freezeNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="minimum_order_quantity" jdbcType="DECIMAL" property="minimumOrderQuantity" />
    <result column="ladder_price" jdbcType="VARCHAR" property="ladderPrice" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="depot_type" jdbcType="VARCHAR" property="depotType" />
    <result column="spec_attribute" jdbcType="VARCHAR" property="specAttribute" />
    <result column="can_process" jdbcType="INTEGER" property="canProcess" />
    <result column="can_deposite" jdbcType="INTEGER" property="canDeposite" />
    <result column="due_date" jdbcType="DECIMAL" property="dueDate" />
    <result column="employee" jdbcType="INTEGER" property="employee" />
    <result column="location" jdbcType="INTEGER" property="location" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="storage_date" jdbcType="DECIMAL" property="storageDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="utime" jdbcType="DECIMAL" property="utime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="ctime" jdbcType="DECIMAL" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, batch_no, breed_id, customer_id, depot_id, stockInItem_id, site_id, stock_id, 
    total, usable_num, freeze_num, status, price, minimum_order_quantity, ladder_price, 
    contact_name, contact_phone, depot_type, spec_attribute, can_process, can_deposite, 
    due_date, employee, location, unit_id, storage_date, comment, updater, utime, creater, 
    ctime
  </sql>
</mapper>